html,
body {
  margin: 0;
  padding: 1em;
  font-family: Arial, sans-serif;
  background-color: #f1f2f7;
  color: #161616;
  font-size: 1em;
}

.title {
  font-size: 8em;
  line-height: 0;
  color: white;
  text-align: center;
  text-shadow: 0 0 1em #16161640;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todos {
  background-color: white;
  width: 100%;
  max-width: 640px;
  border-radius: 4px;
  box-shadow: 0 0 1em #16161624;
}

.todo {
  display: flex;
  align-items: center;
  padding: 1em;
  min-height: 2em;
  border-bottom: #f1f2f7 solid 2px;
}

.todo:last-child {
  border-bottom: none;
}

/* input */

.todo-input-form {
  display: flex;
  align-items: center;
  width: 100%;
}

.todo-input {
  flex-grow: 1;
  border: none;
  padding: 0.5em;
  font-size: 1em;
}

.todo-input:focus {
  outline: none;
}

.add-button {
  background: none;
  border: none;
  color: #161616;
  cursor: pointer;
  padding: 0.5em;
  font-size: 1em;
}

/* item */

.todo-item {
  display: flex;
  align-items: center;
}

.todo-checkbox {
  border-radius: 50%;
  margin-right: 1em;
}

.todo-text {
  flex-grow: 1;
}

.todo-text.completed {
  text-decoration: line-through;
  color: gray;
}

/* footer */

.footer {
  width: 100%;
  display: flex;
  align-items: center;

  * {
    min-width: fit-content;
    flex: 1;
    font-size: 0.8em;
    color: #161616;
  }
}

.footer-filters {
  display: flex;
  gap: 1em;
}

.footer-filters button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5em;
}

.footer-filters button.active {
  border: 0.125em solid #161616;
  border-radius: 0.5em;
}

.footer-clear {
  display: flex;
  justify-content: end;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  html,
  body {
    padding: 0;
    width: 100%;
  }

  .title {
    font-size: 4em;
  }

  .todos {
    box-shadow: none;
  }

  .todo {
    padding: 0.25em;
  }

  .footer {
    * {
      font-size: 0.6em;
    }
  }
}
